/* @charset "UTF-8"; */
@font-face {
    font-family: 'PilseungGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/PilseungGothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html >body {
	font-family: 'PilseungGothic', sans-serif;
	text-underline-position:under;
}

.table-box-type-1 > table {
	width: 100%;
	
}

.table-box-type-1 > table , .table-box-type-1 > table td {
	border:1px solid black;
	padding: 10px;
	text-align: center;
	
}

.btn-text-link {
	color:black;
}

.btn-text-link:hover {
	color:red;
	text-decoration: underline;
}

.border-bottom-line {
	border-bottom: 1px solid #d6cbcb;
}
